<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add product</h2>

            <form action="/admin/add-products" method="POST" enctype="multipart/form-data">

                <label for="">Name</label>
                <input type="text" name="Name" class="form-control">


                <label for="">category</label>
                <input type="text" name="category" class="form-control">

                <label for="">Price</label>
                <input type="text" name="Price" class="form-control">

                <label for="">Description</label>
                <input type="text" name="Description" class="form-control">

                <label for="">Specification</label>
                <input type="text" name="Specification" class="form-control">


                     
                <label for="">Image</label>
                <input type="file" name="Image" class="form-control">



                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            </div>
        </div>
    </div>
</section>