 

<div class="container">
<div style="text-align:center">
<iframe style="align-content: center;"width="460" height="335" src="https://www.youtube.com/embed/{{details.Video}}"></iframe>

</div>

</iframe>
<div>
 <h1 style="text-align: center ;" class="card-name mt-3">{{details.Name}}</h1>



<p style="white-space: pre-line">{{details.Specification}} </p>
</div>
</div>
