<div style="width:600px;height:200px;border:1px solid #000;margin-left: 340px;margin-top: 148px;;">
    <h3 style="text-align: center; margin-top: 20px;">Your order has been successfully placed!</h3><br>
    <h5 style="text-align: center">thank you, for shopping with us!</h5>
    <div style="text-align: center"><button onclick="location.href='/orders'" style="background-color:#00cf3b">My
            orders</button>
            </div>
</div>